*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
}
main {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  min-height: calc(100vh - 110px);
}
.title-bar {
  padding: 20px;
  background-color: #EFEFEF;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &__button {
    padding: 12px;
    background-color: #555555;
    color: #FAFAFA;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
    border: none;
    transition: opacity 400ms linear;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    &:hover {
      opacity: 75%;
    }
  }
}
.loader {
  margin: auto;
  border: 5px solid gray;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 5px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.products {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
}
.product__card {
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
  border-radius: .5rem;
  box-shadow: 1px 1px 8px rgba(0,0,0,.125);
  &__thumbnail {
    margin: 0;
    img {
      max-width: 200px;
    }
  }
  &__title {
    margin: 0;
    margin-top: 1rem;
    font-weight: normal;
  }
  &__price {
    display: inline-block;
    margin: .5rem auto;
    font-weight: 600;
    font-size: 1.5rem;
  }
  &__tags {
    a {
      margin-top: 10px;
      padding: 4px 8px;
      color: #444;
      font-size: .9rem;
      text-decoration: none;
      background-color: #d3d3d3;
      border-radius: 20px;
    }
  }
}
.add-button {
  margin-top: 1rem;
  padding: 8px 16px;
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #33b561;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 481px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 769px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1025px) {
  .products {
    grid-template-columns: repeat(4, 1fr);
  }
}